*.pyc
__pycache__
**/*.pyc
**/__pycache__
**/.DS_Store
.DS_Store
**.boruto
.*
!.gitignore
**.pth
**.mat
**.pt
**.pkl
**.ckpt
**.bin
**.bin.gz
**.tar
**/*.mp4
**/YT-data-download/**
**/*boruto*
**.png
**.wav
**wandb
Pipfile
Pipfile.lock
**.jpg
**env
**data
**events.out.tfevents*
